<div class="row">
	<div class="well well-lg"><a href="#/dashboard" class="btn btn-primary">Go to Dashboard</a></div>
</div>
<div id="News" class="main row">
	<div id="newsTabs">
		<ul>
			<li>
				<a href="#tabs-1"><span>Brazilian
					<br/>
					Jiu Jitsu</span></a>
			</li>
			<li>
				<a href="#tabs-2"><span>Blue Moon
					<br/>
					Yoga</span></a>
			</li>
			<li>
				<a href="#tabs-3"><span>Hot and
					<br/>
					Soul</span></a>
			</li>
		</ul>
		<div id="tabs-1" >
			
			<iframe style="width:100%; height:90%;" src="http://gardenstatebjj.com/">
				Brazilian Jiu Jitsu
			</iframe>
		</div>
		<div id="tabs-2">
			<iframe style="width:100%; height:90%;" src="http://www.blueyoga.net">
				Blue Moon Yoga
			</iframe>
		</div>
		<div id="tabs-3">
			<iframe style="width:100%; height:90%;" src="http://hotandsoulyoga.com/">
				Hot and Soul
			</iframe>
		</div>
	</div>

</div>